@model checkintegration.Models.Status_surveyor

@{
    ViewBag.Title = "Surveyor_Index";
    Layout = "~/Views/Shared/_CustomerLayouot.cshtml";
}

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
        height:33px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Surveyor</h2>
            </div>
        </div>
    </div>
</section>

<div>
    @if (Request.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-11">
                <strong>Welcome to Insure @Html.Encode(User.Identity.Name)</strong>
            </div>

        </div>
    }
    else
    {
        @Html.ActionLink("Register", "Register", "Home")
        <span> | </span>
        @Html.ActionLink("Log In", "Login", "Home")
    }

</div>
Status:
<h3 class="form-group" id="hh"></h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-sm-4">
        <label class="switch" style="height:50px;">
            <input id="a" type="checkbox" onclick="al()" checked>
            <span class="slider round"></span>
        </label>
            </div>
    </div>
</div>
@if (Model.Status == 0)
{<script>
    document.getElementById("hh").innerHTML = "You are Not Available";
    document.getElementById("a").checked =false;
</script>
  
}
else{
<script>
    document.getElementById("hh").innerHTML = "You are Available";
    document.getElementById("a").checked = true;
</script>


}


<script>
    function al() {
        var v = document.getElementById('a').checked;
        
        $.ajax({
            type: "POST", 
            url: "/Surveyor/SurveyorRes",
            data: {Option:v},
            dataType: "json",
            success: function (response) { document.getElementById("hh").innerHTML = response; },
            error: function(xhr, ajaxOptions, thrownError) { alert(xhr.responseText+"err"+thrownError); }
        });
    }
   
    
</script>
