@model checkintegration.Models.ReportMst
@{
    ViewBag.Title = "Upload File";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Upload</h2>

@Html.HiddenFor(model => model.AccidentId, new { @name = "acci" })
<div>
    <input type='file' id="files" multiple="multiple" /> <!-- Allowed to select Multiple files at a stretch-->
    <input type="button" id="upload" value="Upload" />
</div>

<script>
$body = $("body");
$(document).on({
      ajaxStart: function () { $body.addClass("loading"); },
      ajaxStop: function () { $body.removeClass("loading"); }
});

$(document).ready(function () {
    $("#upload").click(function () {
           var data = new FormData();

           //Add the Multiple selected files into the data object
           var files = $("#files").get(0).files;
           for (i = 0; i < files.length; i++) {
                data.append("files" + i, files[i]);
           }

          //Post the data (files) to the server
          if (files.length > 0) {
                  $.ajax({
                      type: 'POST',
                      url: "@Url.Action("Upload","Admin")",
                      data: data,
                      contentType: false,
                      processData: false,
                      success: function (data) {
                            alert("Successfully Uploaded!");
                      },
                      error: function () {
                            alert("An error occurred!");
                      },
                 });
           }
     });
});
</script>