@model IEnumerable<checkintegration.Models.AccidentInfo>
@{
    ViewBag.Title = "View_Accident";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row" style="margin-left:30px;width:1000px;">
    <h2>View Accident</h2>

    <table id="catmst" class="display">
        <thead>
            <tr>
                <th>
                    Accident Id
                </th>
                <th>
                    Customer Id
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longitude
                </th>
                <th>
                    Description
                </th>
                <th>
                    Assigned Surveyor
                </th>
                <th>
                    Upload report
                </th>
                <th>
                    Mail
                </th>
            </tr>
        </thead>
    </table>


</div>

<link href="//cdn.dataTables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section Scripts{
    <script src="//cdn.dataTables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script>
    var Popup, dataTable;
    $(document).ready(function () {
    dataTable = $("#catmst").DataTable({
    "ajax": {
    "url": "@Url.Action("AcciReg", "Admin")",
    "type": "GET",
    "datatype": "json"
    },
    "columns": [

    { "data": "AccidentId","width":"50px"},
    { "data": "CustId", "width": "50px" },
    { "data": "Latitude", "width": "50px", "orderable": false },
    { "data": "Longitude", "width": "50px", "orderable": false },
    { "data": "Description", "width": "200px", "orderable": false },
    { "data": "FirstName", "width": "50px", "orderable": false },
    { "data": "AccidentId", "render": function (data) {
         return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("UploadReport","Admin")/"+data+"')><li class='fa fa-pencil' ></li> Upload</a>";
     }, "orderable": false,
         "width": "150px"
     },
    { "data": "AccidentId", "render": function (data) {
        return "<a class='btn btn-default btn-sm' onclick=Send(" + data +")><li class='fa fa-mail-forward' ></li> Mail</a>";
    }, "orderable": false,
        "width": "150px"
    }



    ]
    });
    });
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Users',
                        height: 500,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                        else {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Send(id) {
            if (confirm('Are You Sure to mail this to customer & surveyor ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SendEmail", "Admin")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
        
    </script>
}