@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_MyLayout1.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">About Us</h2>
            </div>
        </div>
    </div>
</section>


<section class="section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Our Team</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-image">
                    <img src="/Content/img/s1.jpg" alt="About Images">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-text">
                    <h3>About Us</h3>
                    <p>Our company provides a Dynamic Web Application in which client can easily communicate with his Insurance Company when he meets with an accident to get his Claim amount.</p>
                    <p>It is a broad purpose application in Client can provide basic details of accident such as Images of Vehicle at Accident Location and Vehicle Number.</p>
                    <a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <section>
        <br>
        <!-- Our Team starts -->
        <!-- Heading -->
        <div class="block-heading-six">
            <h2 class="bg-color" style="color:#E91E63">Team members</h2>
        </div>
        <br>

        <!-- Our team starts -->

        <div class="team-six">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image -->
                        <img class="img-responsive" src="/Content/img/FB_IMG_1525973276686.jpg" alt="">
                        <!-- Name -->
                        <h4>Raj Chanpura</h4>
                        <span class="deg"></span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image -->
                        <img class="img-responsive" src="/Content/img/FB_IMG_1525972982378.jpg" alt="">
                        <!-- Name -->
                        <h4>Vishwa Pathak</h4>
                        <span class="deg"></span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image -->
                        <img class="img-responsive" src="/Content/img/Screenshot_20180510-225358.png" alt="">
                        <!-- Name -->
                        <h4>Darsh Nanavati</h4>
                        <span class="deg"></span>
                    </div>
                </div>

            </div>
        </div>
    </section>

</section>
    <!-- Our team ends -->

