@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout1.cshtml";
}

<section id="banner">
    <!-- Slider -->
    <div id="demo-1" data-zs-src=@Url.Content("/Content/img/photos/img1.jpg") data-zs-overlay="dots">
       

        <div class="demo-inner-content">
            <h1><span>INSURE</span></h1><br />
            <p>We Will Guide You </p>
        </div>
    </div>
    <!-- end slider -->
    </section>

   
    <section class="section-padding gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Our Team</h2>
                        </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-image">
                        <img src="/Content/img/s1.jpg" alt="About Images">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>About Us</h3>
                        <p>Our company provides a Dynamic Web Application in which client can easily communicate with his Insurance Company when he meets with an accident to get his Claim amount.</p>
                        <p>It is a broad purpose application in Client can provide basic details of accident such as Images of Vehicle at Accident Location and Vehicle Number.</p>
                        <a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


